*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  transition: 1s ease-in;
}

p{
 font-size: 25px;
 font-weight: bold;
}